@model IEnumerable<TaskMan>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="primary">Task List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Task" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> &nbsp; Add Task
                </a>
        </div>
    </div>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Task Number
            </th>
            <th>
                Assigned User
            </th>
            <th>
                Task Details
            </th>
            <th>
                Due Date
            </th>
            <th>
                Date Added
            </th>
            <th>
                Completion Status
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @* iterating through the model we loaded using a for-each loop *@
        @foreach(var obj in Model)
        {
            <tr>
                <td width="5%">
                    @obj.TaskNumber
                </td>
                <td width="10%">
                    @obj.AssignedUser
                </td>
                <td width="30%">
                    @obj.TaskDetails
                </td>
                <td width="20%">
                        @obj.DueDate.ToLongDateString()
                </td>
                <td width="20%">
                        @obj.DateAdded.ToLongDateString()
                </td>
                <td width="5%">
                    @obj.CompletionStatus
                </td>
                <td width="40%">
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Task" asp-action="Edit" asp-route-taskNumber="@obj.TaskNumber" class="btn btn-info btn-sm">
                                <i class="bi bi-pencil-square">Edit</i>
                                </a>
                            <a asp-controller="Task" asp-action="Delete" asp-route-taskNumber="@obj.TaskNumber" class="btn btn-danger btn-sm">
                                <i class="bi bi-file-earmark-x">Delete</i>
                            </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>